@font-face {
  font-family: Vazir;
  src: url(Vazir.ttf);
}

@font-face {
  font-family: Sans;
  src: url(Iranian-Sans.ttf);
}

body {
  font-family: Sans;
  direction: rtl;
  line-height: 2;
}

pre code {
    direction: ltr;
}

.article, .gt-container {
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.article hr {
    border-top: 1px solid  gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 1px;
}

img {
    display: block;
    margin: 0 auto;
    object-fit: cover ;
    max-width: 100%;
}

blockquote {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #feffed;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
  blockquote.style1 span {
     display: block;
     background-image: url(images/closequote1.gif);
     background-repeat: no-repeat;
     background-position: bottom right;
   }

#about {
    font-size: small;
}

#article-details {
    border: 1px solid gray;
    padding: 10px;
}

#article-details {
    font-size: small;
}

.date {
    font-size: small;
}

footer.links {
    font-size: medium;
}

hr {
    opacity: 0.3;
}

.gist {
    direction: ltr;
}

.fa-telegram {color: #0e6b5e;}
.fa-link {color: #d4212a;}
.fa-folder-open {color: #d4c22a;}
.fa-github-alt {color: #c12a20;}
.fa-external-link {color: #6d0c77;}
.fa-magic {color: #c34c87;}
.fa-window-maximize {color: #85afa6;}
.fa-pencil {color: #6e4516;}
