@font-face {
  font-family: Vazir;
  src: url(Vazir.ttf);
}

@font-face {
  font-family: Sans;
  src: url(irsans.ttf);
}

body {
  font-family: Sans, Ubuntu, "DejaVu Sans", serif !important;;
  direction: rtl;
  line-height: 2;
}

pre code {
    direction: ltr;
}

.article, .gt-container {
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.article hr {
    border-top: 1px solid  gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 1px;
}

img {
    display: block;
    margin: 0 auto;
    object-fit: cover ;
    max-width: 100%;
}

blockquote {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-indent: 5px;
}

#about {
    font-size: small;
}

#article-details {
    border: 1px solid gray;
    padding: 10px;
}

#article-details {
    font-size: small;
}

.date {
    font-size: small;
}

footer.links {
    font-size: medium;
}

hr {
    opacity: 0.3;
}

.gist {
    direction: ltr;
}

ul {
    font-size: small;
}
